<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Opentechiz_Blog::menu_id" title="Menu item name" module="Opentechiz_Blog" sortOrder="10" action="frontname/controller/action" resource="Opentechiz_Blog::menu_id"/>
    </menu>
</config>